version: '5.0.1'

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db
    environment:
      - "DJANGO_SECRET_KEY=django-insecure-1lph$$@b19(70jujb8&vtdwvb!42g&c)9p7ii^p!p3a%)ca1pj@"
      - "DJANGO_DEBUG=True"

  db:
    image: postgres:18
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
